* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Roboto, Arial, sans-serif;
	/*font-family: Arial, sans-serif;*/
	background: #eee;
}

.btn,
[data-toggle="tooltip"] {
	cursor: pointer;
}

i.help_outline {
	position: relative;
	top: 4px;
	color: #047EFA;
	font-size: 20px;
	margin-left: 10px;
}

button#top {
	display: none;
	width: 50px;
	height: 50px;
	/*color: rgba(0, 0, 0, .7);*/
	color: #eee;
	background: none;
	border-radius: 100%;
	position: fixed;
	right: 1em;
	bottom: 2em;
	cursor: pointer;
	border: 0;
	opacity: 0;
	outline: 0;
	transition: background .15s ease-in-out;
	z-index: 10000;
}

button#top:hover {
	color: #fff;
	background: rgba(0, 0, 0, .7);
}

button#top i {
	font-size: 50px;
	line-height: 50px;
	text-shadow: 0 0 8px #000;
}

.ui-autocomplete {
	max-height: 150px;
	overflow-y: auto;
	overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 150px;
}

.ui-autocomplete-loading {
	background: white url("/assets/images/ajax_loader_black.gif") right 5px center no-repeat;
	background-size: 22px 22px;
	
}

.fa {
	min-width: 20px;
}

.popover {
	max-width: 500px;
}

.popover .close {
	line-height: 13px;
	margin-left: 10px;
}

.form-control.is-valid, .form-control.is-invalid {
	padding-right: 2.25rem;
	background-repeat: no-repeat;
	background-position: center right .5625rem;
	-webkit-background-size: 1.125rem 1.125rem;
	background-size: 1.125rem 1.125rem;
}

.form-control.is-valid {
	background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>");
}

.form-control.is-invalid {
	background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'><path stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/><circle r='.5'/><circle cx='3' r='.5'/><circle cy='3' r='.5'/><circle cx='3' cy='3' r='.5'/></svg>");
}

select.form-control.is-valid {background-image: none;}
select.form-control.is-invalid {background-image: none;}

.form-control:disabled,
.btn:disabled {
    cursor: not-allowed;
}

.vertical-center {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.vertical-bottom {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

span.required {
	color: red;
	font-size: 20px;
}

header.navbar {
	padding-top: 0;
	padding-bottom: 0;
}

header.bg-faded {
	background: #00a154;
}

header.navbar .navbar-brand img {
	background: #fff;
	border-radius: 100%;
}

header.navbar-light .navbar-brand {
	padding-top: .8rem;
	padding-bottom: .8rem;
	color: #fff;
}

header.navbar-light .navbar-brand:hover {
	color: #ffc107;
}

header.navbar-light .navbar-toggler {
	color: #a3b2c0;
	background: #fff;
	margin: .55rem 0;
}

header.navbar-light .navbar-nav .nav-link {
	padding: 1rem 1.25rem;
	color: #fff!important;
}

header.navbar-light .navbar-nav .nav-link:hover,
header.navbar-light .navbar-nav .active>.nav-link {
	color: #fff;
	background-color: #01904c;
}

header.navbar-light span.count-support-messages {
	position: relative;
	display: inline-block;
	top: -12px;
	min-width: 20px;
	height: 20px;
	line-height: 22px;
	font-size: 12px;
	text-align: center;
	color: #000;
	background: #fff;
	border-radius: 100%;
}

header.navbar-light .cart-menu-desctop {
	padding: 0.8rem 1rem;
	margin-right: 0.5rem;
	color: #fff;
}

header.navbar-light .cart-menu-desctop a {
	text-decoration: none;
}

header.navbar-light .cart-menu-desctop:hover,
header.navbar-light .cart-menu-desctop.active {
	background-color: #01904c;
}

header.navbar-light .cart-menu-desctop i {
	font-size: 30px;
	color: #fff
}

header.navbar-light .count-cart-goods {
	position: relative;
	display: inline-block;
	top: -12px;
	min-width: 20px;
	height: 20px;
	line-height: 22px;
	font-size: 12px;
	text-align: center;
	color: #000;
	background: #ffc107;
	border-radius: 100%;
}

header.navbar-light .cart-menu-desctop .count-cart-goods {
	top: -16px;
	margin-left: -14px;
}

header .dropdown button.user-block {
	color: #fff;
	height: 100%;
	border: 0;
	background: none;
	cursor: pointer;
}

header .dropdown button.user-block img {
	border-radius: 100%;
	float: left;
    margin-right: 10px;
}

header .dropdown button.user-block p {
	display: inline-block;
	line-height: 1.3;
	margin-bottom: 0;
	text-align: left;
}

header .dropdown button.user-block p span {
	display: block;
}

header .dropdown button.user-block.dropdown-toggle::after {
	margin-top: -1em;
}

header .dropdown-menu {
	margin-top: 10px;
	margin-left: -40px;
	right: 3px;
	left: auto;
}

header .dropdown-menu:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-right-color: #ccc;
	right: -1px;
	top: -9px;
}

header .dropdown-menu:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-right-color: #fff;
	right: .2px;
	top: -7.02px;
}

footer {
	color: #5f666e;
	background: #23282d;
	padding: 20px;
	text-align: center;
}

footer .info a {
	text-decoration: none;
	color: #a3b2c0;
	-webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

footer .info a:hover {
	color: #fff;
}

footer .copyright {
	height: 100%;
	line-height: 37.4px;
}

footer .social-pages {
	color: #c8cbce;
	font-size:16px;
	line-height: 2.4;
}

footer .social-pages a {
	text-decoration: none;
	outline: 0;
}

footer .social-pages img {
	margin: 0 5px;
	width: 38px;
	height: auto;
	border: 2px solid transparent;
    border-radius: 100%;
    outline: 0;
	-webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

footer .social-pages img:hover {
	border-color: #fff;
}

.container {
	padding: 0;
	max-width: 1356px;
}

.container .card.content {
	margin-top: 10px;
	margin-bottom: 20px;
	min-height: 568px;
	padding: 0 30px 30px;
	-webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
	-o-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
}

.container h2.title-page {
	font-size: 26px;
	margin: 20px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.container h2.subtitle-page span {
	font-weight: normal;
}

.card .card-header {
	font-weight: bold;
}

.cancel-btn {
	color: #0275d8;
	background: none;
	border: 0;
	outline: none;
	box-shadow: none;
}

.cancel-btn:hover {
	color: #d9534f;
}

.more-item {
	display: none;
	list-style: none;
}

.btn-more {
	text-decoration: underline;
}

.content-profile h3 {
	padding-bottom: 5px;
	border-bottom: 1px solid #000;
}

.content-profile .input-group-addon {
	width: 38px;
	background-color: #fff;
}

.social-networks .item {
	display: inline-block;
	width: 198px;
	height: 44px;
	line-height: 44px;
	margin: 5px 3.77px;
	padding: 5px;
	border: 2px solid #777;
	border-radius: 4px;
	cursor: pointer;
}

.social-networks .item:hover,
.social-networks .item.active {
	-webkit-transition: border-color ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}

.social-networks .item.vk:hover,
.social-networks .item.vk.active {
	border-color: #4D75A3;
}

.social-networks .item.fb:hover,
.social-networks .item.fb.active {
	border-color: #3C5B9B;
}

.social-networks .item.tw:hover,
.social-networks .item.tw.active {
	border-color: #2DAAE1;
}

.social-networks .item.ok:hover,
.social-networks .item.ok.active {
	border-color: #FF9C43;
}

.social-networks .item.ml:hover,
.social-networks .item.ml.active {
	border-color: #2E8FFF;
}

.social-networks .item.gl:hover,
.social-networks .item.gl.active {
	border-color: #ccc;
}

.social-networks .item img {
	width: 30px;
	height: auto;
	float: left;
	margin-right: 10px;
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.social-networks .item:hover img,
.social-networks .item.active img {
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}

.social-networks .item span {
	float: left;
	height: 30px;
	line-height: 30px;
}

.social-networks .item span.close {
	display: none;
	font-size: 24px;
	float: right;
	margin-right: 5px;
}

.social-networks .item span.close:hover {
	-webkit-transition: color ease-in-out .15s;
    -moz-transition: color ease-in-out .15s;
    -o-transition: color ease-in-out .15s;
    transition: color ease-in-out .15s;
    color: #e85656;
}

.social-networks .item.active span.close {
	display: block;
}

.body-loader {
	position: absolute;
	display: none;
	width: 86%;
	height: 97%;
	background: rgba(0,0,0,.1);
	border-radius: 4px 0 0 4px;
	z-index: 4;
}

.ajax-loader {
	display: block;
	width: 26px;
	height: auto;
	margin: 4px auto;
}

#ui-datepicker-div {
	z-index: 5!important;
}

.progress-bar {
	-webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
	transition: width 0.6s ease;
}

.img-in-block {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	height: auto;
	background: #F6F8FD;
}

.img-in-block img {
	display: block;
	margin: auto;
}

/*Goods*/

.goods .list-catalog {
	margin-left: auto;
	margin-right: auto;
}

.goods .list-catalog li {
	display: inline-block;
	width: 215.6px;
	padding: 5px;
	border: 1px solid #eee;
	list-style: none;
	float: left;
	text-align: center;
}

.goods .list-catalog li:hover {
	box-shadow: 0 0 13px 0 rgba(0,0,0,.4);
}

.goods .list-catalog li a {
	display: block;
}

.goods .list-catalog li a div {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	width: 100%;
	height: 203.6px;
	background: #F6F8FD;
	padding: 20px;
}

.goods .list-catalog li a div img {
	display: block;
	margin: auto;
}

.goods .list-catalog li a p {
	height: 48px;
	line-height: 48px;
	margin-bottom: 0;
}

.goods .list-catalog li a p span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.goods .list-catalog li a:hover p span {
	text-decoration: underline;
}

.goods .list-goods {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.goods .list-goods li {
	display: inline-block;
	width: 269.5px;
	padding: 5px;
	border: 1px solid #eee;
	list-style: none;
	float: left;
	text-align: center;
}

.goods .list-goods li:hover {
	box-shadow: 0 0 13px 0 rgba(0,0,0,.4);
}

.goods .list-goods li a {
	display: block;
}

.goods .list-goods li a div {
	width: 100%;
	height: 257.5px;
	background-color: #F6F8FD;
	overflow: hidden;
	text-align: center;
}

.goods .list-goods li a div.max-width {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
}

.goods .list-goods li a div.max-width img {
	display: block;
	width: 100%;
	height: auto;
	margin: auto;
}

.goods .list-goods li a div.max-height img {
	width: auto;
	height: 100%;
}

.goods .list-goods li a p.goods-title {
	height: 48px;
	line-height: 48px;
	margin: 1rem 0 .5rem 0;
}

.goods .list-goods li a p.goods-title span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.goods .list-goods li a:hover p.goods-title span {
	text-decoration: underline;
}

.goods .modal .carousel {
	/*height: 500px;*/
}

.goods .modal .carousel .carousel-item.active {
	/*display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;*/
}

.goods .modal .carousel .carousel-control-prev-icon {
	width: 40px;
	height: 40px;
	background-color: #fff;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='-1 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
	background-size: 50% 50%;
	border: 1px solid #000;
	border-radius: 50%;
}
.goods .modal .carousel .carousel-control-next-icon {
	width: 40px;
	height: 40px;
	background-color: #fff;
	background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='-1 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
	background-size: 50% 50%;
	border: 1px solid #000;
	border-radius: 50%;
}

/*.goods-list .card:hover {
	box-shadow: 0 0 13px 0 rgba(0,0,0,.4);
}

.goods-list .badge-success {
	background: #95cca2;
}

.goods-list .badge-warning {
	background: #fcebba;
}

.goods-list .badge-success:hover {
	background: #28a745;
}

.goods-list .badge-warning:hover {
	background: #ffc107;
}

.goods-list .btn-warning {
	padding: .2rem .75rem;
}

.goods-list .btn-warning .fa-cart-plus {
	font-size: 30px;
}
*/
.goods .main-img {
	width: 247px;
	height: 247px;
	overflow: hidden;
	cursor: zoom-in;
	background-color: #F6F8FD;
	text-align: center;
}

.goods .main-img.max-width {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
}

.goods .main-img.max-width img {
	display: block;
	width: 100%;
	height: auto;
	margin: auto;
}

.goods .main-img.max-height img {
	width: auto;
	height: 100%;
}

.goods .other-imgs {
	min-height: 120px;
}

.goods .other-imgs li {
	display: inline-block;
	border: 3px solid transparent;
	float: left;
}

.goods .other-imgs li.active {
	border-color: #00a154;
}

.goods .other-imgs li div {
	width: 55.7px;
	height: 55.7px;
	overflow: hidden;
	cursor: pointer;
}

.goods .other-imgs li div.max-width {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
}

.goods .other-imgs li div.max-width img {
	width: auto;
	height: 100%;
}

.goods .other-imgs li div.max-height img {
	width: 100%;
	height: auto;
}

.goods h3 {
	padding: 5px 10px;
	border-radius: 4px;
	color: #000;
	font-weight: bold;
	font-family: Arial;
}

.goods .badge {
	font-size: 100%;
}

.goods .buy-goods .card-body {
	background: #f3f3f3;
}

.goods .buy-goods .card-body input[name="price"] {
	border-color: #343a40;
}

.goods .buy-goods .card-body input[name="price"]::-webkit-input-placeholder {color: #ccc;}
.goods .buy-goods .card-body input[name="price"]::-moz-placeholder {color: #ccc;}
.goods .buy-goods .card-body input[name="price"]:-ms-input-placeholder {color: #ccc;}
.goods .buy-goods .card-body input[name="price"]:-moz-placeholder {color: #ccc;}

/*Goods*/ 

.cart table td div {
	width: 70px;
	height: 70px;
	overflow: hidden;
	border: 1px solid #eee;
}

.cart table td div.max-width {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
}

.cart table td div.max-width img {
	width: auto;
	height: 100%;
}

.cart table td div.max-height img {
	width: 100%;
	height: auto;
}

.cart table td select {
	max-width: 90px;
}

.support-form-ticket {
	display: none;
}

.support-form-ticket input[type="button"] {
	color: #444;
	font: 14px Arial;
    background: none;
    border: 1px solid transparent;
    margin-right: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
.support-form-ticket input[type="button"]:hover {
	background: #9da9bc;
}

.support-body img {
	width: 100%;
	border-radius: 100%;
}

.support-body .mobile {
	display: none;
}

.support-body .user-message {
	min-height: 74px;
	padding: 15px;
	background: #e0eff9;
	border-radius: 0 5px 5px 5px;
}

.support-body .user-message:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-top-color: #e0eff9;
	left: 0px;
	top: 0px;
}

.support-body .support-message {
	min-height: 74px;
	padding: 15px;
	background: #FBF6CE;
	border-radius: 5px 0 5px 5px;
}

.support-body .support-message:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-top-color: #FBF6CE;
	right: 0px;
	top: 0px;
}

.treegrid-expander {
	width: 24px;
	top: 0;
}

@media (max-width: 1199px) {

	.goods .list-catalog {
		max-width: 864px;
	}

	.goods .list-goods {
		max-width: 810px;
	}
	
}

@media (max-width: 991px) {

	header.navbar-light .navbar-nav .nav-link {
		padding-left: 20px;
	}

	.goods .list-catalog {
		max-width: 647px;
	}

	.goods .list-goods {
		max-width: 540px;
	}

}

@media (max-width: 768px) {

	.container .card.content {
		padding: 0 15px 15px;
	}

	.title-breadcrumb .col-sm-6 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.title-content {
		text-align: center;
	}

	.support-body img {
		max-width: 77px;
		width: 15%;
		margin-bottom: 10px;
	}

	.support-body .mobile {
		display: block;
	}

	.support-body .desctop {
		display: none;
	}

	.support-body .user-message:before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border: 16px solid transparent;
		border-left-color: #e0eff9;
		left: 15px;
		top: -16px;
	}

	.support-body .support-message:before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border: 16px solid transparent;
		border-right-color: #FBF6CE;
		right: 15px;
		top: -16px;
	}

	.goods .list-catalog {
		max-width: 432px;
	}

	.goods .list-goods {
		max-width: 100%;
	}

	.goods .list-goods li {
		float: none;
	}

}

@media (max-width: 576px) {

	.container .card.content {
		margin: 20px 10px;
		padding: 0 10px 15px;
	}

	footer .copyright span {
		display: block;
	}

}

@media (max-width: 494px) {

	.goods .list-catalog {
		max-width: 100%;
	}

	.goods .list-catalog li {
		float: none;
	}

}